<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="section_title text-center">
        <h3>Editar Operador</h3>
      </div>

      <form class="form-contact contact_form" id="contactForm">
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <label for="edit_oper_usu">Usuario</label>
              <input class="form-control valid" name="edit_oper_usu" id="edit_oper_usu" type="text"
                placeholder="Ingrese el Usuario" />
            </div>

            <div class="form-group">
              <label for="edit_oper_pass">Contraseña</label>
              <input class="form-control valid" name="edit_oper_pass" id="edit_oper_pass" type="text"
                placeholder="Ingrese la contraseña" />
            </div>
          </div>

        </div>
        <div class="form-group mt-3">
          <button type="submit" class="button button-contactForm boxed-btn">
            Confirmar edición
          </button>
        </div>
      </form>
    </div>
  </div>
</div>