<div class="container">
  <div class="row justify-content-center  mt-4">
    <div class="col-lg-6 ">
      <div class="section_title text-center">
        <h3>Revisa El Aforo</h3>
      </div>
    </div>
  </div>

  <div class="row  mt-4">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Jornada</th>
            <th>Cupos Restantes</th>
            <th>Ocupacion Actual</th>
          </tr>
        </thead>
        <tbody>
          {{#each establecimientos}}
          <tr>
            <td>{{compareFecha this.date}}</td>
            <td>{{compareJornada this.jornada}}</td>
            <td> {{this.cupos}} Personas</td>
            <td> <span style="color: green;">{{this.ocupacionActual}} Personas</span> </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>