<div class="bradcam_area bradcam_bg_4">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Administrador</h3>
          <p>Pixel perfect design with awesome contents</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popular_destination_area" style="padding-bottom: 0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>Fin del mundo</h3>
          <p>
            “Recently, the US Federal government banned online casinos from operating in America
            by making it illegal to transfer money to them through any US bank or payment
            system. As a result of this law, most of the popular online casino networks such as
            Party Gaming and PlayTech left the United States. Overnight, online casino players
            found themselves being chased by the Federal government.
          </p>
          <br />
          <div class="row">
            <div class="col-lg-12">
              <div class="more_place_btn text-center">
                <a class="boxed-btn4" href="/admin/descripcion">Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="single_travel text-center">
        <div class="icon">
          <img src="img/svg_icon/1a.svg" alt="" width="115" height="115" />
        </div>
        <h3>Operador</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="section-top-border">
          <table style="margin: auto">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Contraseña</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OperadorUser</td>
                <td>645032</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="more_place_btn text-center">
              <a class="boxed-btn4" href="/admin/operador">Editar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="single_travel text-center">
        <div class="icon">
          <img src="img/svg_icon/2a.svg" alt="" width="115" height="115" />
        </div>
        <h3>Actividades</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="col-sm-12 input-group-icon mt-4">
          <label for="jornada">Jornada</label>
          <div class="form-select" id="default-select">
            <select id="jornada" name="jornada">
              <option value="manana">Mañana</option>
              <option value="tarde">Tarde</option>
            </select>
          </div>
        </div>

        <div class="col-md-13 mt-sm-30">
          <div class="single_travel text-left">
            <ol class="ordered-list">
              <li>
                <span>Actividad 1</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
              <li>
                <span>Actividad 2</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
              <li>
                <span>Actividad 3</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
              <li>
                <span>Actividad 4</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </li>
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="more_place_btn text-center">
              <a class="boxed-btn4" href="/admin/actividad">Editar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="single_travel text-center">
        <div class="icon">
          <img src="img/svg_icon/3a.svg" alt="" width="115" height="115" />
        </div>
        <h3>Ocupación</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <form class="form-contact contact_form pt-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control valid" name="date" id="date" type="date" placeholder="Ingrese Una Fecha" />
            </div>
          </div>
          <div class="col-sm-3">
            <span class="badge badge-success p-3">Ocupación: 50%</span>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-lg-12">
          <div class="more_place_btn text-center">
            <a class="boxed-btn4" href="/admin/ocupacion">Editar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>