<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>TravelApp</title>
  <meta name="description" content="Una plataforma para viajar por colombia" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- CSS here -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/themify-icons.css" />
  <link rel="stylesheet" href="/css/nice-select.css" />
  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/gijgo.css" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/slick.css" />
  <link rel="stylesheet" href="/css/slicknav.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- header-start -->
  <header>
    <div class="header-area">
      <div id="sticky-header" class="main-header-area">
        <div class="container-fluid">
          <div class="header_bottom_border">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="/">
                    <img src="/img/Travelapp-ft1.png" width="90" />
                  </a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">

                      {{#if isLoggedIn}}

                      {{#switch userRole}}
                      {{#case 'tourist'}}
                      <li><a class="active" href="/">Inicio</a></li>
                      <li><a href="/destinos">Destinos</a></li>
                      <li><a href="/misreservas">Mis Reservas</a></li>
                      <li><a href="/about">Nosotros</a></li>
                      {{/case}}
                      {{#case 'admin'}}
                      <li><a class="active" href="/admin">Inicio</a></li>
                      <li><a href="/admin/establecimiento">Establecimiento</a></li>
                      <li><a href="/admin/reserva">Reservas </a></li>
                      {{/case}}
                      {{#case 'superAdmin'}}
                      <li><a class="active" href="/sAdmin">Inicio</a></li>
                      {{/case}}
                      {{#case 'operator'}}
                      <li><a class="active" href="/operador">Inicio</a></li>
                      <li><a href="/reservarop">Reservar</a></li>
                      <li><a href="/misreservasop">Mis Reservas</a></li>
                      {{/case}}
                      {{/switch}}
                      {{else}}
                      <li><a class="active" href="/">Inicio</a></li>
                      <li><a href="/destinos">Destinos</a></li>
                      <li><a href="/about">Nosotros</a></li>
                      {{/if}}
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                <div class="social_wrap d-flex align-items-center justify-content-end">
                  <div class="number">
                    <p><i class="fa fa-phone"></i>(+57) 3137432244</p>
                  </div>
                  <div class="social_links d-none d-xl-block">
                    <ul>
                      <li>
                        <a href="#"> <i class="fa fa-instagram"></i> </a>
                      </li>
                      <li>
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {{#if isLoggedIn}}
              <div class="seach_icon">
                <form action="/logout" method="POST">
                  <a>
                    <i> <button class="genric-btn success-border small" type="submit" style="padding: 10px; ">Cerrar
                        Sesión</button></i>
                  </a>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>

              </div>
              {{else}}
              <div class="seach_icon">
                <a href="/login">
                  <i class="fa fa-2x fa-user"></i>
                </a>
              </div>
              {{/if}}
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header-end -->

  {{!-- Componentes --}}
  {{{body}}}


  <!-- JS here -->
  <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="js/vendor/jquery-1.12.4.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/ajax-form.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/scrollIt.js"></script>
  <script src="js/jquery.scrollUp.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/nice-select.min.js"></script>
  <script src="js/jquery.slicknav.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/gijgo.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
