<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 mt-4">
      <div class="section_title text-center">
        <h3>Error 404. Página no encontrada!</h3>
      </div>
    </div>
    <div class="col-lg-12 mt-4">
      <div class="section_title text-center">
        <img src="/img/404.png" width="256" alt="">
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <div class="section_title text-center">
        <p>Si el error persiste comuniquese con el administrador</p>
      </div>
    </div>
  </div>
</div>