<div class="bradcam_area bradcam_bg_3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Nosotros</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_story">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="story_heading">
          <h3>Somos Travelapp</h3>
        </div>
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <div class="story_info">
              <div class="row">
                <div class="col-lg-9">
                  <p>.</p>
                  <p>Con TravelApp podrás conocer tu sitio preferido reservando con anteriodad desde tu smarthphone,
                    tablet, laptop... los horarios que deseas para ti, no lo pienses más y reserva para el
                    establecimento que tanto quieres conocer o al lugar que deseas volver.</p>
                </div>
              </div>
            </div>
            <div class="counter_wrap">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="single_counter text-center">
                    <h3 class="counter">450</h3>
                    <p>Establecimientos registrados</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="single_counter text-center">
                    <h3 class="counter">410</h3>
                    <p>Lugares vistos</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="single_counter text-center">
                    <h3 class="counter">1237</h3>
                    <p>Visitas hoy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="travel_variation_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="icon">
            <img src="img/svg_icon/1.svg" alt="">
          </div>
          <h3>Ingresar a tu lugar favorito nunca había sido tan fácil</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="icon">
            <img src="img/svg_icon/3.svg" alt="">
          </div>
          <h3>Tendencia mundial</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+57 3108946677</h3>
              <p>Llamanos de lunes a viernes: 8 am-4 pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>travelappunicauca@gmail.com</h3>
              <p>Evíanos tu inquetud en cualquier momento</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>