<div class="slider_area">
  <div class="slider_active owl-carousel">
    <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Fin del Mundo</h3>
              <p>Disfruta la puerta al Amazonas Colombiano</p>
              <a href="/destinos" class="boxed-btn3">Explora Ahora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>San Agustín</h3>
              <p>El parque de San Agustín En La Cordillera De Los Andes</p>
              <a href="/destinos" class="boxed-btn3">Explora Ahora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->



<div class="popular_destination_area" style="padding-bottom: 0;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>¿Por qué viajar con nosotros?</h3>
          <p>
            Entendemos la situación actual que se vive en esta pandemia, por eso ofrecemos tours para que viajes seguro,
            sin demasiadas personas y con control de aforo en cada lugar que te encuentres.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popular_destination_area" style="padding: 0;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QG8seHfqA_g?rel=0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
      </div>
    </div>
  </div>



  <div class="travel_variation_area" style="padding-top:0; padding-bottom:0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_travel text-center">
            <div class="icon">
              <img src="img/svg_icon/social.svg" alt="" width="100px" />
            </div>
            <h3>Control de Aforo</h3>
            <p>Ofrecemos un avanzado sistema de control de aforo basado en códigos QR para que estes seguro en todo
              momento.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_travel text-center">
            <div class="icon">
              <img src="img/svg_icon/travel.svg" alt="" width="100px" />
            </div>
            <h3>Planificación de actividades</h3>
            <p>Al momento de comprar un tour podrás tener una planificación del día y la
              ocupación prevista.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_travel text-center">
            <div class="icon">
              <img src="img/svg_icon/realidad.svg" alt="" width="100px" />
            </div>
            <h3>Realidad Aumentada</h3>
            <p>En cada tour tenemos puntos específicos en donde podrás tener una inmersión mas profunda del lugar solo
              desde tu celular.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="popular_destination_area mt-4" style="padding: 0;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center mb_70">
            <h3>Tour con realidad aumentada</h3>
            <p>
              Con TravelApp encontrarás la tecnología a tu servicio, disfrutarás de secciones de contenido en realidad
              aumentada a lo largo del tour de los lugares más emblemáticos con información de tu interés y contenido
              multimedia, no te pierdas esta aventura y viaja con TravelApp.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popular_destination_area" style="padding: 0;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center mb_70">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S5o6hTgSI30?rel=0" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
          </div>
        </div>
      </div>
    </div>