<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Fin del Mundo</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="destination_details_info">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-9">
        <div class="destination_info">
          <h3>Explorando Fin del Mundo</h3>
          <p class="justify">Fin del mundo está ubicado en el departamento del Putumayo en el municipio de Mocoa,
            escondido en tierras
            amazónicas con un clima tropical humedo, en el cual se puede disfrutar plenamente de pozos de agua
            cristalina, paisajes y naturaleza, es una mezcla de césped y tierra que lleva hacia un puente colagante de
            madera que atraviesa las briosas aguas del río Mocoa.</p>
          <p class="justify">La duración del recorrido del sendero es entre una hora u hora y media, este sendero está
            catalogado en 3
            niveles(escala del 1 al 5, dónde 1 es el más sencillo). Se inicia con los 506 metros sobre el nivel del mar
            y
            su parte más alta está en 822 metros.</p>
          <div class="single_destination">
            <h4>Sendero de piedra</h4>
            <p class="justify">En el recorrido por el sendero podemos apreciar el camino de roca, un camino único y
              maravilloso en donde
              vemos como el agua al transcurso del tiempo labro surcos pareciendo bloques o baldosas que se hubiesen
              puesto. Es un camino ancestral y algunas leyendas sobre este camino que dicen que lleva a un lugar
              sagrado.</p>
          </div>
          <div class="single_destination">
            <h4>Cascadas Fin del Mundo</h4>
            <p class="justify">Al llegar al punto del recorrido donde se llega a la quebrada Dantayaco (río de las
              dantas, la
              terminación YACO significa agua) se pueden encontrar diferentes balnearios con pequeñas cascadas y
              diversas formas que el paso del agua ha creado, como pozo negro este se considera el más profundo
              alcanzando casi los 10 metros de profundidad. Su nombre deriva por el color un poco oscuro que se observa,
              que toma debido a su profundidad. Estas aguas son totalmente limpias ya que no existen agentes
              contaminantes en su trayecto.</p>
          </div>
          <div class="single_destination">
            <h4>Puente de piedra</h4>
            <p class="justify">Al continuar el recorrido, se encuentra un puente natural de roca o puente piedra, una
              obra de ingeniería
              natural que nos sirve para cruzar la quebrada, obra fruto de la constante presión y choque del agua contra
              la roca, dando como resultado el rompimiento de la parte más débil de la roca y sólo quedando la más
              fuerte en la parte superior que se convirtió en puente.</p>
          </div>
          <div class="single_destination">
            <h4>Majestuosa cascada Fin del Mundo</h4>
            <p class="justify">Pasando este puente en roca natural se llega una cascada aproximadamente de 70 metros de
              altura en donde
              la corriente de agua se lanza al vacio, y vemos la majestuosidad e imponencia y quienes la ven desde la
              parte baja miran como brota un chorro potente de agua, símbolo de la vida y grandeza y si nos encontramos
              con suerte sale el arcoíris para llenar con su vivo colorido y competir con las mariposas que sobrevuelan
              en el sitio.</p>
          </div>

        </div>
        <div class="popular_places_area" style="padding-bottom:0; padding-top:25px">
          <div class="container">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="single_place">
                    <div class="place_info">
                      <h3>Tour sesión 1</h3>
                      <p>Jornada mañana</p>
                      <div class="activity-content" style="overflow-x: auto">
                        <table>
                          <tbody>
                            <tr>
                              <td>Camino de piedra 8-9 am</td>
                            </tr>
                            <tr>
                              <td>Cascada el indio 8-9 am</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="more_place_btn text-center">
                        {{#if isLoggedIn}}
                        <a class="boxed-btn4" href="/reservar?placeId={{destinoId}}&jornada=morning">Reservar</a>
                        {{else}}
                        <a class="boxed-btn4" href="/login">Reservar</a>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="single_place">
                    <div class="place_info">
                      <h3>Tour sesión 2</h3>
                      <p>Jornada tarde</p>
                      <div class="activity-content" style="overflow-x: auto">
                        <table>
                          <tbody>
                            <tr>
                              <td>Camino de piedra 8-9 am</td>
                            </tr>
                            <tr>
                              <td>Cascada el indio 8-9 am</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="more_place_btn text-center">

                        {{#if isLoggedIn}}
                        <a class="boxed-btn4" href="/reservar?placeId={{destinoId}}&jornada=evening">Reservar</a>
                        {{else}}
                        <a class="boxed-btn4" href="/login">Reservar</a>
                        {{/if}}

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="bordered_1px"></div>
        <h3 class="mb-20">Recomendaciones para tu visita</h3>
        <div class="">
          <ul class="unordered-list">
            <li>Calzado de buen agarre o grabado, no suelas lisas.</li>
            <li>No llevar elementos que puedan quedar, como basuras o elementos contaminantes.</li>
            <li>Tomar las medidas de seguridad al observar en el sitio de la cascada.</li>
            <li>Ropa ligera o apta para caminatas, recordar que esta es una zona tropical húmeda.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>